
:root {
    /*--widthPadrao: 768px;
    --heightPadrao: 1366px;*/

    --widthPadrao: 1080px;
    --heightPadrao: 1920px;
}


body {
    background-color: #014888;
    overflow-y: hidden;
    overflow-x: hidden;
}

Anuncios.img {
    width: var(--widthPadrao);
    height: var(--heightPadrao);
}


#SenhaDigitada {
    color: #E8BB00;
    font-weight: bold;
}

#SenhaTelaCheia {
    text-align: center;
    font-weight: bold;
    display: none;
    width: var(--widthPadrao);
    height: var(--heightPadrao);
}

#SenhaAtual {
    font-weight: bolder;
    font-size: 14em;
    color: #014888;
}

h1 {
    font-weight: bold;
    color: #014888;
}


#DigitaSenha {
    background-color: #014888;
    color: white;
}

#SenhasAnteriores label {
    font-size: 6.7em;
    font-weight: bold;
    color: #014888;
}


#Anuncios {
    /*background-color: #B6FF00;*/
    font-size: 10em;
    font-weight: bold;
    width: var(--widthPadrao);
    height: var(--heightPadrao);
    background-color: black;
}
