/* -- Arquivo Versão: 1.0.1 -- */

:root {
    /*--widthPadrao: 768px;
    --heightPadrao: 1366px;*/

    --widthPadrao: 1080px;
    --heightPadrao: 1920px;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #014888;
    /* overflow-y: hidden;
    overflow-x: hidden; */
}

/*Anuncios.img {
    width: var(--widthPadrao);
    height: var(--heightPadrao);
}*/


#SenhaDigitada {
    color: #E8BB00;
    font-weight: bold;
}

#SenhaTelaCheia {
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* width: var(--widthPadrao);
    height: var(--heightPadrao); */
}

#Config {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* width: var(--widthPadrao);
    height: var(--heightPadrao); */
}

#config h2 {
    font-weight: bold;
    color: #014888;
}

#config label {
    font-size: 2em;
    font-weight: bold;
    color: #014888;
}

#SenhaAtual {
    font-weight: bolder;
    font-size: 16.5em;
    color: #014888;
}

h1 {
    font-weight: bold;
    color: #014888;
}


#DigitaSenha {
    background-color: #014888;
    color: white;
}

#SenhasAnteriores label {
    font-size: 9em;
    font-weight: bold;
    color: #014888;
}


#Anuncios {
    width: var(--widthPadrao);
    height: var(--heightPadrao);
    background-color: black;
    display: none;
}
